<section class="main-container">

	<aside class="left-container">
		<%= image_tag 'dan.jpg', class: 'dan-image' %>
	</aside>

	<aside class="right-container">
	  <h2>Daniel Pariente</h2>
	  <br />
    <p>
			Software Engineer with 7+ years of experience architecting and designing software.
			Cofounded and directed Apptegy Inc. Leaded teams with multiple members worldwide.
			Master Craftsman obsessed with clean code and best practices.

      Current Certified Ruby Programmer from the Ruby Association.
    </p>
    <p>
      Current Certified Ruby Programmer from the Ruby Association.
    </p>
    <%= image_tag 'logo_silver_v21.png', class: 'ruby-cert' %>
	</aside>
</section>
