<section class="main-container">

	<aside class="left-container">
		<%= image_tag 'dan.jpg', class: 'dan-image' %>
	</aside>

	<aside class="right-container">
	  <h2>Dan Pariente</h2>
	  <br />
    <p>
      Passionate about programming, obsessed with clean code, and software architecture. Over 4 years experience with Ruby on Rails. 
      Has firm understanding of underlying architecture and protocols such as HTTP and Rest.  Built dozens of web and mobile applications
      and performed DevOps functions as necessary.
    </p>
    <p>
      Current Certified Ruby Programmer from the Ruby Association.
    </p>
	</aside>
</section>
