<%= render 'refills/navigation' %>

<section class="main-container">

	<aside class="left-container">
		<%= image_tag 'dan_cartoon.jpg', class: 'dan-image' %>
	</aside>

	<aside class="right-container">
	  <h2>Dan Pariente</h2>
	  <br />
		<p>Passionate about programming, obsessed with clean code and software architecture.<br />Over 4 years experience with Ruby on Rails. Master of HTTP and Rest. Built dozens of web and mobile applications.<br />Believes in writing simple, concise code that is easily maintained. Loves business strategy, project management, and working with others.</p>
	</aside>
	<!-- <iframe src=<%= "http://docs.google.com/gview?url=#{Rails.root.join('app', 'assets', 'files', 'resume.pdf')}&embedded=true" %>
    style="width:600px; height:500px;" frameborder="0">
  </iframe> -->
</section>

<%= render 'refills/footer' %>

