body {
  background: rgb(44,44,44);
  color: rgb(250,250,250);
  margin: 0;
  padding: 0;
}

section.main-container {
  @include outer-container;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  min-height: 350px;
  padding: 40px 0;
}

nav.top-bar {
  @include span-columns(12);
  @include row();
  @include pad();
  background: #666;
  height: 3em;
  text-align: center;
}

aside.left-container, aside.right-container {
  @include span-columns(6);
  @include pad();
  min-height: 20em;
  float: clear;
}

img.ruby-cert {
  margin: 40px auto;
  display: block;
}

@media only screen and (max-width: 40.625em) {
  aside.left-container, aside.right-container {
    @include span-columns(12);
    img.dan-image {
      display: block;
      margin: 0 auto;
    }
  }
}
