<footer class="footer">
  <div class="footer-logo">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/">Home</a></li>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Other</h3></li>
      <li><a href="javascript:void(0)">Github</a></li>
    </ul>
  </div>

  <hr>

  <p>© 2015 - Dan Pariente</p>
</footer>
