<footer class="footer">
  <div class="footer-logo">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="/">Home</a></li>
      <li><a href="javascript:void(0)">Blog</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Me</h3></li>
      <li><a href="https://www.facebook.com/locosuelto">Facebook</a></li>
      <li><a href="https://twitter.com/dansification">Twitter</a></li>
    </ul>
    <ul>
      <li><h3>Other</h3></li>
      <li><a href="https://github.com/naughtystyle">Github</a></li>
    </ul>
  </div>

  <hr>

  <p>&copy; 2015 - Dan Pariente</p>
</footer>
